{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Secure Rails </title>
	<meta name="description" content="Wiredwiki App">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
	<style>
	body{
		padding-top: 40px;
	}
	</style>


<body>
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

	<!--navbar-->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
		<a href="" class="navbar-brand">Secure Rails</a>
	</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<div></div> class="nav navbar-nav">
				<a href="/emergency/" class="btn btn-warning navbar-btn navbar-right">Link SOS numbers</a>
				<a href="#translate" class="btn btn-success navbar-btn navbar-right">Translate</a>
				<a href="/emergency/alert" class="btn btn-danger navbar-btn navbar-left">EMERGENCY</a>
			<a href="#about" class="btn btn-info navbar-btn navbar-right">About</a>
			</div>
		</div>
	</nav>

	<!--jumbotron-->
	<div class="jumbotron">
		<div class="container text-center">

			<br>
			<br>
			<br>
			<h1>Secure Rails</h1>
			<br>
			<p>Transforming your railway experience</p>
			<br>
			<br>
			<br>

		<div class="btn-group">
			<a href="fir/" class="btn btn-lg btn-warning"> Log Complaint</a>
			<a href="response/" class="btn btn-lg btn-info"> Check Response</a>
			<a href="police/" class="btn btn-lg btn-danger"> Police login</a>
			<a href="police/attendance/" class="btn btn-lg btn-primary"> RPF Sign-in</a>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	</div>
	</div>
 	<!-- Feedback-->
  	<div class="container" id="about">
  		<section>
  			<div class="page-header" id="feedback">
  				<h2>About Us<small> </small></h2>
  			</div>

  			<div class="row">
  				<div class="col-md-4">
  					<blockquote>
  						<p>We provide a platform to log complaints to the GRP/RPF(based on your complaint) and allocate these complaints to the nearest station</p>
  						<footer>Ease of Use</footer>
  					</blockquote>
  				</div>
  				<div class="col-md-4">
  					<blockquote>
  						<p>Common platform for police and the passengers.Only The comlaints pertaining to designated station will be displayed to the police incharge</p>
  						<footer>Simplified Accessability</footer>
  					</blockquote>
  				</div>
  				<div class="col-md-4">
  					<blockquote>
  						<p>Information about the Constables allocated to each train will also be displayed along with the complaint. We've included a check in function for the constables </p>
  						<footer>Extensive Reach</footer>
  					</blockquote>
  				</div>
  			</div><!-- End row -->
  		</section>
  	</div><!--End Container-->
		<div class="container" id="translate">
			<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'bn,en,gu,hi,kn,ml,mr,ne,pa,sd,ta,te,ur', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		</div>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
